<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u1fukui.androiddemos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Animation -->
        <activity android:name=".activity.animation.AnimationListActivity" />
        <activity android:name=".activity.animation.viewanim.AllViewAnimationActivity" />
        <activity android:name=".activity.animation.viewanim.RotateAnimationActivity" />
        <activity android:name=".activity.animation.viewanim.AnimationSetActivity" />
        <activity android:name=".activity.animation.viewanim.TransitionAnimationFirstActivity" />
        <activity android:name=".activity.animation.viewanim.TransitionAnimationSecondActivity" />
        <activity android:name=".activity.animation.viewanim.TranslateAnimationActivity" />
        <activity android:name=".activity.animation.propertyanim.ValueAnimatorActivity" />
        <activity android:name=".activity.animation.propertyanim.ObjectAnimatorActivity" />
        <activity android:name=".activity.animation.propertyanim.InterpolatorActivity" />
        <activity android:name=".activity.animation.propertyanim.ViewPropertyAnimatorActivity" />
        <activity android:name=".activity.animation.propertyanim.LayoutTransitionActivity" />
        <activity android:name=".activity.animation.transition.ActivityTransitionActivity" />
        <activity android:name=".activity.animation.transition.ActivityTransitionSecondActivity" />
        <activity android:name=".activity.animation.transition.SharedElementActivity" />
        <activity android:name=".activity.animation.transition.SharedElementSecondActivity" />
        <activity android:name=".activity.animation.transition.FragmentTransitionActivity" />

        <!-- UI -->
        <activity android:name=".activity.ui.tab.TabListActivity" />
        <activity android:name=".activity.ui.tab.SlidingTabLayoutActivity" />
        <activity android:name=".activity.ui.tab.PagerTabStripActivity" />

        <!-- Keyboard -->
        <activity android:name=".activity.ui.keyboard.KeyboardListActivity" />
        <activity android:name=".activity.ui.keyboard.DefaultKeyboardActivity" />
        <activity android:name=".activity.ui.keyboard.NoFullscreenActivity" />
        <activity android:name=".activity.ui.keyboard.NoFullscreenRelativeLayoutActivity" />
        <activity android:name=".activity.ui.keyboard.NoFullscreenFragmentActivity" />
    </application>

</manifest>
