<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u1fukui.androidanimationdemos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="Animation Demos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewanim.AllViewAnimationActivity" />
        <activity android:name=".viewanim.RotateAnimationActivity" />
        <activity android:name=".viewanim.AnimationSetActivity" />
        <activity android:name=".propertyanim.ValueAnimatorActivity" />
        <activity android:name=".propertyanim.ObjectAnimatorActivity" />
        <activity android:name=".propertyanim.LayoutTransitionActivity" />
    </application>

</manifest>
